/* setup ---------------------------------------------*/
*,
*::after,
*::before{padding: 0;
margin: 0;
border: 0;
box-sizing:border-box;}

a{
    color:inherit;
    text-decoration: none;
}
body{background-image: url(https://i.gifer.com/xK.gif);}
.wrapper{

    background-color: #fff;
    background-image: url(https://static-cse.canva.com/blob/759807/vk1776.png);
max-width: 924px;
margin: 0 auto;}

.page{
    font-size: large;
    font-family: sans-serif;
    color:#3107bc;
    height: 90%;
    width: 85%;
    text-align: center;
}
a :hover{
    background-color: #960de0;}

img {
    width:  400px;
    height: 350px;
    object-fit: cover;
    border-radius: 70%;
    max-width: 900px;
  }
  .page{margin: 0 auto;
     background-image: url("https://img.freepik.com/free-vector/beautiful-watercolor-background_23-2148486848.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705449600&semt=ais");
    background-size: cover;
    }
    .pag{height: 120vh;
        width: 90%;
        margin: 0 auto;
    }
    .nav{
        
        text-align: center;
        background-image: url(https://chelyabinsk.oboitd.ru/images/goods/big/20200129094216_Cvety_6-094.jpg);
    }
    .nav2{ max-width: fit-content;
        text-align: center;
background-image: url(https://chelyabinsk.oboitd.ru/images/goods/big/20200129094216_Cvety_6-094.jpg);
    }.nav li  {
    
   font-size: 25px;
    display: inline-block;
    margin-left: 100px;
    color:inherit;

}
.nav2{margin: 5px auto;
    text-align: center}
    .up{text-align: center;
    background-color: #13c4c4;
    font-size: x-large;
}
.up{ margin: 0 auto;
    background-image: url(https://images.prom.ua/3720368816_w640_h640_foto-fon-vinilovyj-12075.jpg);}
    .nav3{
        
        text-align: center ;
        background-image: url(https://chelyabinsk.oboitd.ru/images/goods/big/20200129094216_Cvety_6-094.jpg);
    font-size: 20px;

    }
    .nav3 li{
        
        font-size: 20px;
        display: inline-block;
        margin-left: 50px;
        color:inherit;}
        .nav,nav2{color:#0adb18;
        }
        .nav3{color:#19e0a4
        }